.projects-title {
  margin: 0;
  border: 0;
  color: #2f435b;
  font-size: 30px;
  font-weight: 500;
}

.divider-white {
  border-bottom: 3px double white !important;
  margin-bottom: 30px !important;
}

.project-container {
  border-top: 80px solid #F8F8F8;
}

.projects-list {
  max-width: 100% !important;
}
