.small-p {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.button-container button {
  width: 100%;
}

.button-navs {
  margin: auto;
  margin-top: 80px;
}

.contact-button {
  background-color: transparent;
  color: white;
  font-weight: 500;
  border: 0
}
.btn-primary {
  background-color: #35445c !important;
}

.profile-pic-buttons {
  background-color: white;
  color: #2f435b;
  border-radius: 6px;
}

/* .button-navs .button-container button {
  background-color: #344561;
} */

.skills-div {
  background-color: white;
}


.divider {
  margin: 0;
}


.projects-div {
  background-color: #F8F8F8;
}


@media (max-width: 768px) {
  .main-raised {
    margin: 0;
    margin-top: -60px;
  }
  .button-navs {
    width: 40%;
  }
}


@media (max-width: 991px) and (min-width: 768px) {
  .button-navs {
    width: 60%;
  }
}

.contact-me {
  padding-bottom: 20px;
}
